{% extends 'base.html' %}

{% block title %} {{ post.title_tag }} {% endblock %}

{% load blog_extras %}

{% block content %}
    <h1>
        {{ post.title }}
    </h1>

    <div class="post-details p-1">
        <small>
            Posted by: <strong>{{ post.author.first_name }} {{ post.author.last_name }}</strong>
        </small>
        <br>
        <small>
            Published on: <strong>{{ post.post_date }}</strong>
        </small>
    </div>
    
    <hr>

    <p class="p-3">
        {{ post.body|convert_markdown|safe }}
    </p>

    <br>
    <hr>

    <a href="{% url 'home' %}" class="btn btn-secondary">Go Back</a>
    {% if user.is_superuser %}
        <a href="{% url 'admin_update_post' post.pk %}" class="btn btn-warning">Edit Post</a>
        <a href="{% url 'delete_post' post.pk %}" class="btn btn-danger">Delete</a>
    {% endif %}
    {% endblock %}