{% extends 'base.html' %}

{% block content %}

{% load blog_extras %}

<h1>Category: [ {{ cats }} ]</h1>
<hr>
<br>

<div class="row gap-3">
    {% if category_posts %}
        {% for post in category_posts %}
            {% if post.approved == "approved" %}  
                <div class="card bg-dark border-white">
                    <div class="card-header bg-transparent p-3 d-flex border-bottom-2 border-white">
                        <div class="post-details">
                            <a href="{% url 'article_detail' post.pk %}" class="text-decoration-none text-dark">
                                <strong class="h4 text-capitalize text-bg-dark">
                                    {{ post.title }}
                                </strong>
                            </a>
                            <div class="post-info">
                                <small>
                                    posted by: <strong>{{ post.author.first_name }} {{ post.author.last_name }} ({{ post.author }})</strong>
                                </small>
                                <br>
                                <small>
                                    <i>
                                        posted on: {{ post.post_date }}
                                    </i>
                                </small>
                                - 
                                <medium>
                                    <a href="{% url 'category' post.category|slugify %}" class="link-color-purple">
                                        {{ post.category }}
                                    </a>
                                </medium> 
                            </div> 
                        </div>
                        {% if user.is_superuser %}
                            <div class="ms-auto align-self-center">
                                <a href="{% url 'admin_update_post' post.pk %}" class="text-decoration-none text-white">
                                    <small>
                                        [ Edit Post ]
                                    </small>
                                </a>
                                <a href="{% url 'delete_post' post.pk %}" class="text-decoration-none text-white">
                                    <small>
                                        [ Delete Post ]
                                    </small>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="card-body d-flex flex-row">
                        <br>
                        <div class="body-text me-auto">
                            {{ post.body|convert_markdown|safe|slice:"200" }}
                        </div>
                        <div class="body-image ms-5">
                            <img src="{{ post.img_url }}" alt="Post Image" width="150px" height="100px">
                        </div>
                        <br><br>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <li>No posts in this category yet.</li>
    {% endif %}
</div>

{% endblock %}
