{% extends 'base.html' %}

{% block title %} Edit Blog Post {% endblock %}

{% block content %}
   
    {% if user.is_authenticated %}
        <h1>Update Blog Post</h1>
        <br><br>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.media}}
            {{form.as_p}}
            <button class="btn btn-success" action="submit">Update</button>
        </form>
    {% else %}
        <h1>Oops...</h1>
        <h3>Looks like you are not logged in. Please log in to edit a post.</h3>
        <br>
        <a href="{% url 'home' %}" class="btn btn-primary">Go Back</a>
        <a href="{% url 'register' %}" class="btn btn-outline-primary">Register</a>
        <a href="{% url 'login' %}" class="btn btn-outline-primary">Login</a>
    {% endif %}
    <br>

{% endblock %}